<!-- 公有Js 区 -->
<script src="/assets/js/easeljs-0.8.2.min.js"></script>
<script src="/assets/js/TweenLite.min.js"></script>
<script src="/assets/js/jquery-1.11.3.min.js" ></script>
<script src="/assets/js/jquery-mousewheel.js"></script>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/fss.min.js"></script>
<script src="/assets/js/low-poly.js"></script>


<!-- 私有Js 判断 -->
{% assign path = page.url | split:"/" %}

{% if page.name == "index.html" %}
<script src="/assets/js/index.js"></script>
{% endif %}

{% if page.name != "index.html" && path[1] == "pages" %}
{% assign dir  = path[2] | replace:".html","" %}
<script src="/assets/js/{{ dir }}.js"></script>
{% endif %}
