<!-- 公有Js 区 -->
<script src="/assets/js/jquery-1.11.3.min.js" ></script>
<script src="/assets/js/jquery-mousewheel.js"></script>
<script src="/assets/js/jquery.pjax.js"></script>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/clipboard.min.js"></script>


<!-- 私有Js 判断 -->
{% assign path = page.url | split:"/" %}

<script src="/assets/js/index.js"></script>

{% if path[1] != "index.html" && path[2] == "pages" %}
{% assign dir  = path[2] | replace:".html","" %}
<script src="/assets/js/{{ dir }}.js"></script>
{% endif %}
