
						<!-- 
							信管创业基地 script.html
							Design And Build By 倪云港
							Email: yungangni@gmail.com
							Github: http://github.com/niyungang
						 -->
<!-- 
	公共全局JS
 -->

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/main.js"></script>

<!-- 地球 -->
<script type='text/javascript' src='/assets/js/d3.v3.min.js'></script>
<script type='text/javascript' src='/assets/js/topojson.v1.min.js'></script>
<script type='text/javascript' src='/assets/js/planetaryjs.min.js'></script>

<!-- logo -->
<script type="text/javascript" src="/assets/js/easeljs-0.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/TweenLite.min.js"></script>
<script type="text/javascript" src="/assets/js/fss.min.js"></script>
<script type="text/javascript" src="/assets/js/vivus.min.js"></script>

<script>
	timingProps = {
		type: 'delayed',
		duration: 150,
		start: 'autostart',
		pathTimingFunction: Vivus.EASE_OUT,
		animTimingFunction: Vivus.LINEAR
	};
	new Vivus("logo-svg",timingProps)
</script>

<!-- 主页文章 -->
<script type="text/javascript" src="/assets/js/index.js"></script>

<!-- 文章内容 -->
<script type="text/javascript" src="/assets/js/post.js"></script>

