							
							/*--------------------------------------------*\
									信管创业基地官网 enroll-page.css
							   		   Design And Build By Owen
							     Github:http://github.com/numerhero
							\*--------------------------------------------*/


@font-face{
	font-family:'Yuppy';
	src:url('/assets/font/YuppySC-Regular-Roman.eot');
	src:url('/assets/font/YuppySC-Regular-Roman.eot') format('embedded-opentype'),
	url('/assets/font/YuppySC-Regular-Roman.woff') format('woff'),
	url('/assets/font/YuppySC-Regular-Roman.ttf') format('truetype'),
	url('/assets/font/YuppySC-Regular-Roman.svg') format('svg');font-weight:normal;font-style:normal
}

html{width:100%; outline: none;}
body{width:100%; height: auto; overflow: hidden; margin: 0;padding: 0;}
ul{margin: 0;padding: 0; list-style: none;}
h1{margin: 0;padding: 0;}
h3{margin: 0;}
img{margin:0; padding:0;}
p{margin: 0;}
a{text-decoration: none; cursor:url(/assets/img/cursor.png),default !important;}
button{cursor:url(/assets/img/cursor.png),default !important;}
#container{width: 100%; cursor:url(/assets/img/cursor.png),default !important;}
#header{width:100%; height: 45px; position:fixed; background: rgba(50,52,54,.7);  z-index: 3;}


#header-wrap {width:1300px; height: 100%;  margin: 0 auto; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#move-logo{display: block; width:390px; height: 50px;  float: left;}
#move-logo img{margin-top: 4px;}
#move-logo img:nth-of-type(1){margin: 2px 8px 0 0; float: left;}
 
#header-menu-list{width:730px; height: 100%; float:right; }
.header-ico{width:140px;height: 100%; margin: -5px 5px 0 0; background: url(/assets/img/enroll/header-ico-bg.png) no-repeat -10px 13px; float: left; position: relative;}
.header-ico .header-ico-content{position: absolute;bottom: 14%; right:-10%; color:#fff; font:500 20px/23px "微软雅黑"; z-index: 3; 
	transition:.5s; -webkit-transition:.5s; opacity: .7;}
.header-ico:nth-of-type(1) .header-ico-content{ right:5%;}
.header-ico:nth-of-type(3) .header-ico-content{ right:5%;}
.header-ico:nth-of-type(4) .header-ico-content{ right:-2%;}


.header-ico-bg{width:150px; height:55px;display: block; position: absolute; top:30%; left:18%;background:url(/assets/img/enroll/header-ico-hover-bg.png) no-repeat; opacity: 0; 
		transform: translateY(-30px) translateX(30px) skew(10deg);
		-webkit-transform:translateY(-30px) translateX(30px) skew(10deg);
		z-index: 1;
		transition:.25s;
		-webkit-transition:.25s;
	}

.header-ico:hover .header-ico-content{opacity: 1;}

.header-ico .header-ico-active{opacity: 1; color:#61A2FB; }
.header-ico-bg-show{
	transform: translateY(-10px) translateX(15px) skew(10deg);
	-webkit-transform:translateY(-10px) translateX(15px) skew(10deg);
	opacity:1;
}

/* 轮播切换ul */
#page-lists{width: 100%;  list-style: none; margin: 0 auto; position: absolute; top:0; transition:1.5s cubic-bezier(0.86,0,0.07,1);-webkit-transition:1.5s cubic-bezier(0.86,0,0.07,1);}
	
.page-lists-lis{width: 100%; height: 800px; margin: 0 auto; overflow: hidden; position: relative;}	
	
.pages-wrap{ width: 1600px; height: 800px; 
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -800px;
 }


/* 愿景页样式 */

.page-lists-lis:nth-of-type(1){background: url(/assets/img/enroll/page-bg1.jpg);}

#vision {width: 100%; height: 600px; position: relative; perspective:500px;-webkit-perspective:500px;}
	.page1-content{
		width:200px;
		height: auto;
		position: absolute;
		top: 52%;
		left: 50%;
		margin-left: -100px;
		margin-top: -163.5px;
		transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.page1-content img{
		transition:2s;
		-webkit-transition:2s;
		opacity: 0;
		transform: translateZ(200px) scale(1.5);
		-webkit-transform: translateZ(200px) scale(1.5);
	}
	.page1-content-font1{
		width:1000px;
		display: block;
		font:400 20px/23px Arial;
		word-spacing:5px;
		letter-spacing: 2px;
		color:#fff;
		position: absolute;
		left: -135%;
		bottom:-12%;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		opacity: 0;
		transition:1s;
		-webkit-transition:1s;
	}
	.page1-content-font2{
		width:500px;
		height: 50px;
		position: absolute;
		bottom:-34%;
		left: -75%;
		color:#CCC;
		opacity: .7;
		font:200 45px/46px "微软雅黑";
		text-align: center;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		opacity: 0;
		transition:2s;
		-webkit-transition:2s;
	}

	.actionBtn{width:50px; height: 50px; background: #61A2FB; border-radius:50%; color:#fff; text-align: center; font-size: 50px; line-height: 57px; position: absolute; bottom: -65%; left:32%; transition:.5s; -webkit-transition:.5s; opacity: 0; transform:translateY(-10px); -webkit-transform:translateY(-10px);
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;}
	.actionBtn:hover{background: #3075DC; animation:.35s actionBth ease-out; -webkit-animation:.35s actionBth ease-out;}


/* 发展方向页 样式 */
.page-lists-lis:nth-of-type(2){background: url(/assets/img/enroll/page-bg3.jpg);}
#development {width:100%; height: auto; position: absolute;
	top: 56%;
	left: 50%;
	margin-left: -800px;
	margin-top: -357px; 
}
#development-head{width: 100%; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition:.5s;
	-webkit-transition:.5s;
	transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	opacity: 0;
}

#development-title{color:#fff; font:500 40px/40px "Yuppy","微软雅黑"; text-align: center;}
.line{width:40px; height: 2px; margin:20px auto 0; background: #fff; }
/*
	#development-head-content{color: #f5f5f5; text-align: center; font:200 20px/20px "微软雅黑";}*/

#development-list{width:1040px; height: auto;  margin: 30px auto 0; overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition:.5s;
	-webkit-transition:.5s;
	transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	opacity: 0;
}

.development-opinions{width:230px;height: 435px; margin:10px; float: left; position: relative; padding: 5px; }
.development-opinions:after{width:100%; height:100%;content: ""; display: block;position: absolute; top:0; bottom:0; right:0; left: 0;
				border-top: 1px solid #fff;
    			border-bottom: 1px solid #fff;
				transition:.5s;
				-webkit-transition:.5s;
				opacity: 0;
				transform: scale(0,1);
				-webkit-transform: scale(0,1);}
.development-opinions:before{width:100%; height:100%;content: ""; display: block;position: absolute; top:0; bottom:0; right:0; left:0;
				border-left: 1px solid #fff;
    			border-right: 1px solid #fff;
				transition:.5s;
				-webkit-transition:.5s;
				opacity: 0;
				transform: scale(1,0);
				-webkit-transform: scale(1,0);
				}
.development-opinions-logo{width: 100px; height: 100px; color:#fff; font-size: 45px; transform:rotate(45deg); -webkit-transform:rotate(45deg); transition:.5s;-webkit-transition:.5s; border:1px solid #fff; margin:50px auto; position: relative; }
.development-opinions-logo:after{content: ""; display:block; width: 75px; height: 75px;  position: absolute; top:12%; left:12%; opacity: 0; transition:.5s;-webkit-transition:.5s;}
.development-opinions-logo:nth-of-type(1):after{background: #26EDE6;}
.development-opinions-logo:nth-of-type(2):after{background: #FF7E00;}
.development-opinions-logo:nth-of-type(3):after{background: #F14242;}
.development-opinions-logo:nth-of-type(4):after{background: #0B3782;}

.development-name{font:500 25px/30px "微软雅黑","Yuppy"; color:#f4f4f4; text-align: center;transition:.5s;-webkit-transition:.5s; }

.development-opinions-line{width:20px; height: 2px; margin:20px auto 30px; background: #fff;transition:.5s;-webkit-transition:.5s;}
.development-opinions-logo i ,.development-opinions-logo img {transform:rotate(-45deg); -webkit-transform:(-45deg); position: absolute; top:28%; left: 30%; z-index: 2; }

.development-opinions:nth-of-type(2) .development-opinions-logo img{top: 20%; left: 25%;}
.development-opinions p{width:230px; height:140px;color:#B4B4B7; font:500 13px/20px "微软雅黑","Yuppy"; letter-spacing:2px; text-align: center;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}



.development-opinions:hover p{color:#fff;}

.development-opinions:hover .development-opinions-logo:after{opacity: 1;}
.development-opinions:hover .development-opinions-logo{ transform:rotate(45deg) scale(1.2,1.2); -webkit-transform:rotate(45deg) scale(1.2,1.2); border:1px solid #2F3137; }
.development-opinions:hover .development-name{color:#3385FF;}
.development-opinions:hover .development-opinions-line{ transform:scale(2,1); -webkit-transform:scale(2,1);}
.development-opinions:hover:after{
				border-top: 1px solid #fff;
    			border-bottom: 1px solid #fff;
    			transform: scale(1,1);
    			-webkit-transform:scale(1,1);
    			opacity: .7;}
.development-opinions:hover:before{
				border-left: 1px solid #fff;
    			border-right: 1px solid #fff;
    			transform: scale(1,1);
				-webkit-transform:scale(1,1);
    			opacity: .7;
}

/* 报名页样式 */

.page-lists-lis:nth-of-type(3){ background: url(/assets/img/enroll/page-bg2.jpg); }
	#enroll{ width:100%; height:674px; 
		position: absolute;
		top: 45%;
		left: 50%;
		margin-top: -337px;
		margin-left: -800px;
		
		perspective:1200px; -webkit-perspective:1200px;
	}

	#enroll-3d-show-stage{ opacity: 0; width: 100%; height: 674px;
	 position: relative;
	 background: url(/assets/img/enroll/enroll-bg.png) no-repeat;
	 transform:translateY(-20px) scale(0); -webkit-transform:translateY(-20px) scale(0); 
	 transition:1s; -webkit-transition:1s; 
	 transform-style:preserve-3d; 
	 -webkit-transform-style:preserve-3d;
	}
	.enroll-show-elements{width:630px; height: 300px; position: absolute;  top:28%; left: 30%;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			transform:translateZ(10px);
			-webkit-transform:translateZ(10px);
			transition:1s ease;
			-webkit-transition:1s ease;
			opacity: 0;
	}

	.enroll-show-elements:nth-of-type(1){ opacity: 1; }
	.enroll-show-elements:nth-of-type(2){ transform:translateX(800px) translateZ(400px) rotateY(-80deg) ; -webkit-transform:translateX(800px) translateZ(400px) rotateY(-80deg) ;   }
	.enroll-show-elements:nth-of-type(3){ transform:translateX(1600px) translateZ(400px) rotateY(-80deg) ; -webkit-transform:translateX(1600px) translateZ(400px) rotateY(-80deg) ; }
	.enroll-show-elements:nth-of-type(4){ transform:translateX(2400px) translateZ(400px) rotateY(-80deg) ; -webkit-transform:translateX(2400px) translateZ(400px) rotateY(-80deg) ; }
	.enroll-show-elements:nth-of-type(5){ transform:translateX(3200px) translateZ(400px) rotateY(-80deg) ; -webkit-transform:translateX(3200px) translateZ(400px) rotateY(-80deg) ; }

	.elements-icon {
		float: left;
		width: 80px;
		height: 80px;
	}

	.elements-content .elements-icon {
		font-size: 120px;
		margin-top: 16px;
		margin-left: 10px;
	}

	.elements-title {
		width: 100%;
		height: 60px;
		font-size: 50px;
		text-align: center; 
		font-family: "微软雅黑","黑体";
		text-shadow: 0 0 4px #35A7C2;
		color: #FA244A;
	}

	.elements-content {
		position: relative;
		width: 100%;
		height: 210px;
		padding-top: 30px;
		font-family: "微软雅黑","Yuppy";
		text-align: center; 
	}

	.elements-content h2 {
		margin: 0 auto;
		font: 300 20px/20px "微软雅黑";
	}

	.elements-txt {
		width: 100%;
		height: auto;
		padding-top: 20px;
		font: 200 40px/20px "Yuppy","微软雅黑";
		color: #30A9C6;
	}
	
	.content-box {
		float: right;
		width: 400px;
		height: 160px;
		font-size: 16px;
	}
	
	.content-box p {
		padding-top: 20px;
	}
	.elements-txt:nth-of-type(1) {
		line-height: 120px;
	}
	.elements-stress {
		color: #2E6DA4;
		font-size:40px;
		line-height: 58px;
		
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-size: 200% 100%;
		-webkit-background-size: 200% 100%;
		animation: masked-animation 3s infinite linear;
		-webkit-animation: masked-animation 3s infinite linear;
		margin: 0 10px;
	}
	.fontXL {
		font-size: 60px !important;
	}
	.elements-stress-bg-color1 {
		background-image: linear-gradient(left, #D91C73, #79C6D9 25%, #D91C73 50%, #79C6D9 75%, #D91C73);
		background-image: -webkit-linear-gradient(left, #D91C73, #79C6D9 25%, #D91C73 50%, #79C6D9 75%, #D91C73);
	}

	.elements-stress-bg-color2 {
		background-image: linear-gradient(left, #9AFE17, #1168A7 25%, #9AFE17 50%, #1168A7 75%, #9AFE17);
		background-image: -webkit-linear-gradient(left, #9AFE17, #1168A7 25%, #9AFE17 50%, #1168A7 75%, #9AFE17);
	}
	
	#enroll-3d-show-stage .enroll-show-elements .line {
		background: #48494A;
		margin-bottom: 20px;
	}

	#enroll-3d-show-stage .enroll-show-elements .long-line {
		float: left;
		margin-top: 0;
		height: 120px;
		margin: 20px 10px 0 120px;
		
		background: #48494A;
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
	}
	
	#enroll-show-list{ width:630px; height: 1px; background: #AA978F; position: absolute; bottom:80px; left:50%; margin-left:-20%;  transform:scale(0); transition:1s; -webkit-transform:scale(0); -webkit-transition:1s;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.enroll-show-list-arrow{font-size: 60px; color:#30A9C6; transition:.35s; -webkit-transition:.35s;}
	
	.enroll-show-list-arrow:nth-of-type(1){position: absolute; bottom:-34px; left: -54px;}
	.enroll-show-list-arrow:nth-of-type(2){position: absolute; bottom:-34px; right: -54px;}
	
	.list-btns {
		position: absolute;
		top: 2px;
		margin-left: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		margin-top: -10px;
		background: #f5f5f5;
	}

	.list-btns:nth-of-type(2) {
		left: 157.5px;
	}


	.list-btns:nth-of-type(3) {
		left: 315px;
	}


	.list-btns:nth-of-type(4) {
		left: 472.5px;
	}


	.list-btns:nth-of-type(5) {
		left: 630px;
	}

	.list-btns span {
		position: absolute;
		width: 50px;
		height: 20px;
		display: block;
		top: -30px;
		left: -15px;
		font: 300 20px/25px "微软雅黑";
		color: #272822;

		text-align: center;
	}

	#enroll-show-list a i {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 auto 0;
		border: 4px solid #73C4D7;
	}
	
	#enroll-show-list .active-i {
		border: 4px solid #D92672;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transition: .2s ease-out;
		-webkit-transition: .2s ease-out;
	}

	#enroll-show-list .active-title {
		color: #EB82B0;
		text-shadow: 0 0 2px #f5f5f5,0 0 4px #78C5D8;
		top: -37px;
		font-weight: 600;
		transition: .2s ease-out;
		-webkit-transition: .2s ease-out;
	}

	.enroll-show-list-arrow:hover{ text-shadow:0 0 5px #f5f5f5;}

/* 资源页 */
	.page-lists-lis:nth-of-type(4){background: url(/assets/img/enroll/page-bg4.jpg);}
	#resource{ width:100%; height: 100%;
	position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -800px;
    margin-top: -268.5px;
    overflow: hidden; 
    transform:translateY(-20px); -webkit-transform:translateY(-20px); 
    transition:.5s; -webkit-transition:.5s; 
    opacity: 0;}

	#resource-introduction{ width: 500px; height: 510px; 
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		position: absolute;
		top: 0px;
		left: 200px;
	}
	#resource-cloud{width:520px; height:31px; color:#30A9C6; overflow: hidden; padding:0px 75px; margin:25px 0;}
	
	#resource-cloud span{width:auto; height:20px; background:#ccc;display: block; border-bottom: 1px solid #ccc; margin-left:125px;text-indent:5px; font: 500 16px/25px "Yuppy"; float: left; color:#21262C; margin:0 0 0 0; padding:5px;border-radius: 6px 0 0 6px; float:left;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
	#resource-cloud button{ width:100px; height: 31px; border: none; outline: none;  background: #2e6da4; color: #fff; border-radius: 0 6px 6px 0;}


	.resource-content{width: 440px;height: 90px;  margin:0px 20px 50px; font:600 18px/30px "微软雅黑"; color:#fff; letter-spacing: 1px; text-align: center; padding-top: 20px; } 
	.stress{
		color: #2E6DA4;
		font-size: 40px;
		line-height: 58px;
		background-image: linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
		background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-size: 200% 100%;
		-webkit-background-size: 200% 100%;
		animation: masked-animation 3s infinite linear;
		-webkit-animation: masked-animation 3s infinite linear;
	}
	.no-stress{font-size: 15px; font-weight: 500; height: 60px;}
	#resource-button{width: 220px; height: 54px; border:none; outline: none; border-radius: 5px; font: normal 18px/18px "微软雅黑"; color:#fff; box-shadow: inset 0 -4px 0 #2a6496; background: #2e6da4; margin:40px 140px 0;transition:.5s; -webkit-transition:.5s;}
	#resource-button:hover , #resource-cloud button:hover{background: #286090;}
	#show-resource{width:870px; height: 537px; background: url(/assets/img/enroll/computer.png) no-repeat;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		right: 60px;
		top: 0px;
	}

	#show-resource-screen{width: 580px ;height: 400px;margin: 40px 0  0 135px; position: relative; }
	#show-resource-list{width: 580px; height: 400px; background: #fff; overflow: hidden; padding:0px 10px; position: relative;}
	#show-resource-list ul{width:100%; height:100%;position: absolute; top:10px;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
	.show-resource-lis{width:100%;height: 30px; margin-bottom: 8px;}
	.show-resource-lis span{width:100%; height: 30px; display:block;text-indent: 5px; border-bottom: 1px dashed #000; font:400 18px/25px "微软雅黑","Yuppy"; color:#21262C;}
	#show-resource-list-paracllx{width:10px; height: 400px; position: absolute; top:0; right: -30px; background:#ccc; }
	#paracllx-mousemove{width:8px; border-radius: 4px; border:none; margin: 0 1px; background: #383B4A;position: absolute; top:2px;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}


/* 进度栏 */
.slideborder{width:25px;height:140px; position: fixed; right: 5%;top:50%; border-radius: 10px;}
.slideborder a{display: block; width: 15px; height: 15px; border-radius:50%;  border:1px solid #fff; margin: 10px 5px 10px 5px; cursor:url(/assets/img/cursor.png),default !important; transition:.5s;}
.pagecount-active{transform:scale(1.5);-webkit-transform:scale(1.3); background: #f4f4f4;}


/*动画帧*/
@keyframes movefont{
	0%{transform:translateY(0px);}
	50%{ transform:translateY(6px);}
	100%{ transform:translateY(-6px);}
}

@-webkit-keyframes movefont{
	0%{-webkit-transform:translateY(0px);}
	50%{ -webkit-transform:translateY(6px);}
	100%{ -webkit-transform:translateY(-6px);}
}

@keyframes movelogo{
	0%{transform:rotateX(0deg) rotateY(0deg);}
	25%{transform: rotateX(180deg);}
	35%{transform: rotateX(180deg);}
	50%{transform: rotateX(180deg) rotateY(-180deg);}
	60%{ transform: rotateX(180deg) rotateY(-180deg);}
	70%{ transform: rotateX(180deg) rotateY(0deg);}
	90%{ transform: rotateX(0deg) rotateY(0deg);}
	100%{ transform: rotateX(0deg) rotateY(0deg);}
}

@-webkit-keyframes movelogo{
	0%{-webkit-transform:rotateX(0deg) rotateY(0deg);}
	25%{-webkit-transform: rotateX(180deg);}
	35%{-webkit-transform: rotateX(180deg);}
	50%{-webkit-transform: rotateX(180deg) rotateY(-180deg);}
	60%{ -webkit-transform: rotateX(180deg) rotateY(-180deg);}
	70%{ -webkit-transform: rotateX(180deg) rotateY(0deg);}
	90%{ -webkit-transform: rotateX(0deg) rotateY(0deg);}
	100%{ -webkit-transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes actionBth{
	0%{transform:scaleY(1) ;}
	50%{transform:scaleY(1.2) scaleX(1.1);}
	100%{transform:scaleY(1);}
}
@-webkit-keyframes actionBth{
	0%{-webkit-transform:scaleY(1) ;}
	50%{-webkit-transform:scaleY(1.2) scaleX(1.1);}
	100%{-webkit-transform:scaleY(1);}
}

@keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}