										/*--------------------------------------------*\
													 xgjd members-pic css
										   		   Design And Build By Owen
										      Github:http://github.com/numerhero

										\*--------------------------------------------*/
.books {
	position: relative;
	width: 100%;
	height: 3rem;
	background: rgba(0,0,0,0.6);
}

.parallax-book {
	background: url(../img/members-pic/background-books.jpg) no-repeat 50% 0, rgba(248,248,248,0.7);
	background-size: cover;
	background-attachment: fixed;
}

#pic-show-stage {
	position: relative;
	width: 12rem;
	height: auto;
	margin: 0 auto;

	overflow: hidden;
}

#show-pic {
	position: relative;
	float: right;
	width: 7.2rem;
	height: 6.3rem;

}

#show-pic>li {
	position: absolute;
	
	z-index: -1;
	width: 100%;
	height: 100%;
}

#show-pic>li b {
	display: block;
	width: 100%;
	height: 0.3rem;
	opacity: 0;
}

/* 图片列表 */
#list-stage {
	position: relative;
	width: 100%;	
}

#show-our-youth {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#members-pics-list {
	position: relative;
	
	width: 12rem;
	margin: 0 auto 0.6rem;
	padding: 0.5rem 1.57rem 0.3rem;
}

/* 切图:边缘检测 .1  边缘平滑1 */
#members-pics-list li {
	position: relative;

	float: left;
	width: 1.67rem;
	height: 1.94rem;
	
	margin: -0.1rem 0.05rem 0;
	transition: 0.75s;
	-webkit-transition: 0.75s;
}

.members-pics-mask {
	width: 100%;
	height: 100%;
	
	background: url(/assets/img/members-pic/mask.png) no-repeat;

	padding: 0.5rem 0;
	color: #fff;
	font: 500 0.16rem/0.4rem "Consolas","微软雅黑";
	opacity: 0;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	text-align: center;
}

#members-pics-list li:hover .members-pics-mask{
	opacity: 1;
}

#special {
	float: left;
	width: 1.67rem;
	height: 1.94rem;
	font: 400 0.35rem/0.45rem "Montserrat","微软雅黑";
	text-align: center;
	margin: -0.1rem 0.05rem;
	padding: 0.4rem 0;
	color: #6793B9;
	opacity: 0;

	transform: translateZ(200px) scale(1.5);
}

.str {
	background-image: linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	background-image: -webkit-linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	animation: masked 4s infinite linear;
    -webkit-animation: masked 4s infinite linear;
}

#members-pics-list li:nth-of-type(6) , #members-pics-list li:nth-of-type(14), #members-pics-list li:nth-of-type(23){
    margin-left: 0.9rem;
}

#con {
	width: 12rem;
	height: auto;
	margin: 0 auto;
}

.con-container {
	width: 100%;
	padding-left: 1.1rem; 
}

.ability {
	width: 100%;
	height: 3rem;	
}

.con-box {
	position: relative;
	padding: 0.25rem 0.3rem;
	border-left: 1px solid #c8d2df;
}

.timeline {
	position: absolute;
	top: 0.05rem;
	left: -1.05rem;
	width: 1.25rem;
	height: 0.18rem;

	font: 400 0.16rem/0.18rem "Consolas","微软雅黑";

}

.timeline span {
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;

	background: #fff;
	border: 1px solid #206DFB;
	border-radius: 50%;

	transition: 0.35s;
	-webkit-transition: 0.35s;
}

.ability-title {
	font: 500 0.25rem/0.25rem "Consolas","微软雅黑";
	text-align: center;
	background: url(/assets/img/members-pic/con-bg.png) repeat;
	
	margin-bottom: 0.2rem;
	
	padding: 0.1rem 0;
	overflow: hidden;
}

.ability-con {
	font: 300 0.14rem/0.25rem "Consolas","微软雅黑";
	text-align: center;
	border-radius: 0.05rem;

	border: 1px solid #66A36F;
	padding: 0.1rem;

	color: #ccc;
	transition: 0.35s;
	-webkit-transition: 0.35s;
}

.con-box:hover .timeline span{
	border: 1px solid #66D9EF;
}
.con-box:hover .ability-title {
	color: #66D9EF;
}

/* 加入我们 */
.join-us {
	width: 12rem;
	margin: 0 auto;
}

.join-us p {
	font: 300 0.25rem/0.45rem "Consolas","微软雅黑";
	color: rgba(0,0,0,.6);
	text-align: center;
	vertical-align: baseline;
}

.let-join {
	width: 100%;
	padding: 0.2rem 0;
}
.let-join a {
	display: block;
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,.6);
	font: 200 0.3rem/0.74rem "Montserrat";
}

.join-btn {
	display: block;
	width: 2.5rem;
	height: 0.8rem;

	overflow: hidden;
	background: url(/assets/img/members-pic/low-ploy-btn-bg.png);
	
	border-radius: 0.05rem;
	margin: 0 auto;
	transition: 0.75s ease;
	-webkit-transition: 0.75s ease;
}

.join-btn:hover a{
	color: #fff;
}
