/*--------------------------------------------*\
			 xgjd members-pic css
   		   Design And Build By Owen
      Github:http://github.com/numerhero

\*--------------------------------------------*/
.books {
	position: relative;
	width: 100%;
	height: 3rem;
	background: rgba(0,0,0,0.6);
}

.parallax-book {
	background: url(../img/members-pic/background-books.jpg) no-repeat 50% 0, rgba(248,248,248,0.7);
	background-size: cover;
	background-attachment: fixed;
}

#pic-show-stage {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
	overflow: hidden;

	will-change: background;
}


/* 图片列表 */
#list-stage {
	position: relative;
	width: 100%;

	will-change: background;	
}

#show-our-youth {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#members-pics-list {
	position: relative;
	
	width: 12rem;
	margin: 0 auto 0.6rem;
	padding: 0.5rem 1.57rem 0.3rem;
}

/* 切图:边缘检测 .1  边缘平滑1 */
#members-pics-list li {
	position: relative;

	float: left;
	width: 1.67rem;
	height: 1.94rem;
	
	margin: -0.1rem 0.05rem 0;
	transition: 0.75s;
	-webkit-transition: 0.75s;
}

.members-pics-mask {
	width: 100%;
	height: 100%;
	
	background: url(/assets/img/members-pic/mask.png) no-repeat;

	padding: 0.5rem 0;
	color: #fff;
	font: 500 0.16rem/0.4rem "Consolas","微软雅黑";
	opacity: 0;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	text-align: center;
}

#members-pics-list li:hover .members-pics-mask{
	opacity: 1;
}

#special {
	float: left;
	width: 1.67rem;
	height: 1.94rem;
	font: 400 0.35rem/0.45rem "Montserrat","微软雅黑";
	text-align: center;
	margin: -0.1rem 0.05rem;
	padding: 0.4rem 0;
	color: #6793B9;
	opacity: 0;

	transform: translateZ(200px) scale(1.5);
}

.str {
	background-image: linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	background-image: -webkit-linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	animation: masked 4s infinite linear;
    -webkit-animation: masked 4s infinite linear;
}

#members-pics-list li:nth-of-type(6) , #members-pics-list li:nth-of-type(14), #members-pics-list li:nth-of-type(23){
    margin-left: 0.9rem;
}

.show-pic-stage {
	width: 12rem;
	margin: 0 auto;
}

#Menbers-resume {
	width: calc(12rem - 7.2rem);
	height: 6.3rem;
	float: left;
	padding: 0.5rem 0 0 0;
}

.mrlists-box {
	width: 100%;
	height: 5rem;
	padding-left: 1.4rem;

}

.mrlists {
	width: 100%;
	height: 0.45rem;
	margin-bottom: 0.15rem;
}

.mrlists span {
	display: inline-block;
	font-size: 0.2rem;
	border-bottom: 2px double #fff;
	text-align: center;
	margin-left: 0.2rem;
	color: #fff;
	padding: 0.2rem 0 0 0;
}

.motto {
	float: left;
	width: 100%;
	height: 0.8rem;
	font: 400 0.25rem/0.25rem "Montserrat","微软雅黑";
	text-align: center;
	color: #9BF0F2;
	background-image: linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	background-image: -webkit-linear-gradient(left, #9BF0F2, #263E70 25%, #9BF0F2 50%, #263E70 75%, #9BF0F2);
	animation: masked 8s infinite linear;
    -webkit-animation: masked 8s infinite linear;
}

#show-pic {
	position: relative;
	float: right;
	width: 7.2rem;
	height: 6.3rem;
}

#show-pic>li {
	position: absolute;
	
	width: 100%;
	height: 100%;
	will-change: background , transition;
}

#show-pic>li b {
	display: block;
	width: 100%;
	height: 0.3rem;
	opacity: 0;
	will-change: background , transition;
}

#con {
	width: 12rem;
	margin: 0 auto;
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
	
	padding-bottom: 0.05rem;
}

.con-blank {
	float: left;
	width: 100%;
	height: 0.05rem;
}

.ct-center {
	width: 5.95rem !important;
}

.ctlw-center {
	width: 6rem !important
}

.con-time-line-wrap {
	float: left;
	position: relative;
	width: 3rem;
	height: 5rem;

	background: #f8f8f8;
	margin-right: 0.05rem;
	border-radius: 0 0.4rem 0.4rem 0/0 0.5rem 0.5rem 0;
}

.con-time-line {
	position: absolute;
	top: 0.45rem;
	right: -0.05rem;

	width: 0.05rem;
	height: calc(100% - 0.45rem);
}

.con-time-line-opt {
	position: absolute;
	top: 0.2rem;
	left: -0.17rem; 
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	background: #395692;
	padding: 0.1rem;
}

.branch-point {
	display: block;
	width: 0.2rem;
	height: 0.2rem;
	
	border-radius: 50%;
	background: #f8f8f8;
}
.con-time-line-opt:nth-of-type(2) {
	top: 1.2rem;
}

.con-time-line-opt:nth-of-type(3) {
	top: 2.2rem;
}

.con-time-line-opt:nth-of-type(4) {
	top: 3.2rem;
}

.branch-line {
	position: absolute;
	top: 0.2rem;
	left: -2.55rem;
	height: 0.03rem;
	width: 2.6rem;
	background: #395692;
}

.branch-line-context {
	position: absolute;
	top: -0.18rem;
	left: 0.13rem;
	font: 400 20px/20px arial,"微软雅黑";
	background-image: linear-gradient(left, #34015F, #4299F2 25%, #34015F 50%, #4299F2 75%, #34015F);
	background-image: -webkit-linear-gradient(left, #34015F, #4299F2 25%, #34015F 50%, #4299F2 75%, #34015F);
	animation: masked 4s infinite linear;
    -webkit-animation: masked 4s infinite linear;
}

.branch-line-node {
	position: absolute;
	top: -0.06rem;
	left: -0.06rem;
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	background: #395692;
}

.con-time-line-opt .ctlo-title {
	position: absolute;
	left: 0.6rem;
	top: 0;
}

/* 右树枝 */
.con-time-line-opt .blr  {
	left: 0.4rem;
}

.con-time-line-opt .blr .branch-line-node {
	left: 2.6rem;
}

.con-time-line-opt .blr .branch-line-context {
	left: 1.5rem;
}

/* 斜切树枝 */
.branch-shew-line {
	position: absolute;
	top: 0.22rem;
	right: -0.44rem;
	width: 0.45rem;
	height: 0.03rem;
	
	background: #395692;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
}

.branch-shew-ltl {
	position: absolute;
	top: 0;
	left: 0.45rem;
	width: 2rem;
	height: 0.03rem;
	background: #395692;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
}

.branch-shew-line-node {
	position: absolute;
	top: -0.06rem;
	right: -0.06rem;
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	background: #395692;
}

.bsln-con {
	position: absolute;
	top: -0.1rem;
	left: 0.2rem;
	display: inline-block;
	width: 3rem;
	height: 0.3rem;
	font-size: 0.3rem;
	line-height: 0.3rem;
	color: #395692;
}

.con-time-line-opt .bsl-left {
	left: -0.45rem;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
}

.con-time-line-opt .bsl-left .branch-shew-ltl {
	width: 0.4rem;
	left: -0.4rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
}

.con-time-line-opt .bsl-left .branch-shew-ltl .branch-shew-line-node {
	left: -0.06rem;
}

.con-time-line-opt .bsl-left .branch-shew-ltl .branch-shew-line-node .bsln-con {
	left: -3.2rem;
	text-align: right;
}

.con-talent {
	float: left;
	width: 8.95rem;
	height: 5rem;
	background: #f8f8f8;
	border-radius: 0.4rem 0 0 0.4rem/0.5rem 0 0 0.5rem;
}

/* 加入我们 */
.join-us {
	width: 12rem;
	margin: 0 auto;
}

.join-us p {
	font: 300 0.25rem/0.45rem "Consolas","微软雅黑";
	color: rgba(0,0,0,.6);
	text-align: center;
	vertical-align: baseline;
}

.let-join {
	width: 100%;
	padding: 0.2rem 0;
}
.let-join a {
	display: block;
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,.6);
	font: 200 0.3rem/0.74rem "Montserrat";
}

.let-join .join-btn {
	display: block;
	width: 2.5rem;
	height: 0.8rem;

	overflow: hidden;
	background: url(/assets/img/members-pic/low-ploy-btn-bg.png);
	
	border-radius: 0.05rem;
	margin: 0 auto;
	text-align: center;
	transition: 0.75s ease;
	-webkit-transition: 0.75s ease;
}

.join-btn:hover {
	color: #fff;
}
