										/*--------------------------------------------*\
													 xgjd message-board css
										   		   Design And Build By Owen
										      Github:http://github.com/numerhero

										\*--------------------------------------------*/
.message-board-box {
	width: 100%;

}

.message-board-box .comment {
	width: 12rem;
	margin: 0 auto;
}

.message-introduction {
	width: 12rem;
	margin: 0 auto;

	font: 100 0.16rem/0.25rem "Consolas","微软雅黑";
	color: rgba(0,0,0,0.5);
}

.say {
	width: 6rem;

	margin: 0.2rem auto;
}

.say img {
	display: inline-block;
}

.QR {
	width: 4rem;
	height: 4rem;
	margin: 0 auto;

	background: url(/assets/img/index/base-Quick-Response.jpg) no-repeat;
	background-size: cover;
}