              
              /*--------------------------------------------*\
                         信管创业基地 plan.css
                       Design And Build By 倪云港
                       Email: yungangni@gmail.com
                   Github: http://github.com/niyungang
              \*--------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.plan-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}


.plan-title {
    text-align: center;
    font: 200 70px/120px "Fredericka-the-Great","微软雅黑";
    width: 100%;
    display: inline-block;
    margin: 50px 0 0;
    color: #1C86D1;
}


.plan-list {
    width: 540px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 100px;
}

.plan-list li{
    -webkit-transform: perspective(600px);
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
    -ms-transform: perspective(600px);
    -ms-transform-style: preserve-3d;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;
    transform: perspective(600px);
    transform-style: preserve-3d;
    transform-origin-x: 50%;
    transform-origin-y: 50%;
    cursor: default;
    position: relative;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 150px;
    color: #ffffff;
    float: left;
    -webkit-transition: .2s -webkit-transform, 1s opacity;
    -ms-transition: .2s -ms-transform, 1s opacity;
    transition: .2s transform, 1s opacity;
    cursor:pointer;
}

.plan-list li span {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 18px;
}

.quote-box__bubble {
    position: relative;
    background: white;
    padding: 16px;
    color: #555;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto 20px;
}
.quote-box__bubble:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-top-width: 10px;
}

    .modal h1{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .modal a{
        color: #FFD200;
    }

    .modal a:hover{
        text-decoration: underline;
    }


  .disable-mouse {
    pointer-events: none;
  }

  body.disable-scroll {
    overflow: hidden;
    height: 100%;
  }

  .btn, .tile {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    background: #EA006F;
    color: white;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.25s ease;
  }
  .download-btn {
    background: white;
    color: #3F51B5;
    font-size: 30px;
  }
  .btn--blue {
    background: #4A90E2;
  }
  .tile {
    width: 33.333%;
    float: left;
    height: 150px;
  }
  .tile-container {
    overflow: hidden;
  }
  .btn:hover,
  .tile:hover {
    opacity: 1;
  }
  .tile:nth-child(2) { background: #4A90E2; width: 200px; }
  .tile:nth-child(3) { background: #FFD200; }

  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background: #EA006F;
    color: white;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease;
    overflow: auto;
  }

  .modal-close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/assets/img/close.png) no-repeat center;
    width: 32px;
    height: 32px;
    padding: 32px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .modal-close-btn:hover {
    opacity: 1;
  }
  .modal--2 { background: #4A90E2; }
  .modal--3 { background: #FFD200; }
  .modal--4 { background: #4CBB47; }
  .modal--5 { background: #362A6C; }

  .modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }