											  <!-- create & design By Owen -->
											<!-- github: github.com/numerhero -->
<!DOCTYPE html>
<html>
<head>
	{% include header.html %}
</head>

<body>
	<header id="header">
		<div id="header-wrap">
			<ul id="guide-list">
				<li class="li-active">
					<a href="/index.html">首页</a>
				</li>
				<li>
					<a href="#">成员墙</a>
				</li>
				<li>
					<a href="/pages/enroll-page.html" target="_blank">加入我们</a>
				</li>
				<li>
					<a href="/pages/message-board.html">留言板</a>
				</li>
				<li>
					<a href="#">博文聚合</a>
				</li>
			</ul>
		</div>
	</header>
	<nav id="header-bg">
		<div id="logo-stage">
			<canvas id="logo-c"></canvas>
		</div>
		<div id="low-poly-container">
			<div id="output"></div>
		</div> 
	</nav>
	<!-- 嵌入内容 -->
	<article id="content">
		{{ content }}
		<!-- 私有Js 引入 -->
	</article>


	<!-- foot 底部信息 -->
	<footer id="footer">
		<section class="full-background parallax-heida"></section>
		<div class="parallax-overlay"></div>
		<section class="footer-content"></section>
		<section class="Im-logo">
			<div class="logo-img">
				<img src="../assets/img/base/footer-logo.png" alt="ImWeb" title="ImWeb">
			</div>
		</section>
		<section class="copyright">
			<div class="footer-logo-list">
				<span>
					<i class="fa fa-github"></i>
				</span>
				<span>
					<i class="fa fa-stack-overflow"></i>
				</span>
				<span>
					<i class="fa fa-html5"></i>
				</span>
			</div>
			<h1>Copyright © <span>IMWEB</span> 2016 | 愿景：用心铸造卓越Offer</h1>
		</section>
	</footer>
	{% include footer.html %}
</body>
</html>