                        <!-- 
                            信管创业基地 post.html
                            Design And Build By 倪云港
                            Email: yungangni@gmail.com
                            Github: http://github.com/niyungang
                         -->
<!-- 文章内容 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{% include head-post.html %}
</head>

<body>
    <!-- Post Header -->
    <a class="post-logo" href="/index.html">
        <img src="/assets/img/logo.png" alt="logo">
        <div class="logo-name liuguang">信管创业基地</div>
    </a>

	<header class="post-header">
		<img id="post-img" class="post-img">
		<section class="post-title">
			<h1 class="article-title">
				{{ page.title }}
			</h1>
			<section class="article-category">
				{{ page.category }}
			</section>
	        <section class="article-info">
	        	Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}
	        </section>
		</section>
	</header>

    <!-- Post Box -->
    <section class="post-box">
        <article class="post-body">
            {{ content }}

            <!-- 上下篇 -->
            <div class="pager">
                {% if page.previous.url %}
                <a class="previous" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                上一篇<br>
                <span>{{page.previous.title}}</span>
                </a>
                {% endif %}
                {% if page.next.url %}
                <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                下一篇<br>
                <span>{{page.next.title}}</span>
                </a>
                {% endif %}
            </div>

            <!-- 分享 -->
            <ul class="share">
                <li>
                    <span>分享到:</span>
                </li>
                <li>
                    <a class="qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://xgcyjd2014.github.io{{page.url}}&title=《{{page.title}}》 作者：{{page.author}} 发布日期：{{page.date}}&desc={{decs}}&pics=http://xgcyjd2014.github.io/assets/img/share-logo.png&site=http://xgcyjd2014.github.io" target="__blank" title="分享到QQ空间"></a>
                </li>
                <li class="ml">
                    <a class="weibo" href="http://service.weibo.com/share/share.php?url=http://xgcyjd2014.github.io{{page.url}}&title=《{{page.title}}》 作者：{{page.author}} 发布日期：{{page.date}} {{decs}} &pic=http://xgcyjd2014.github.io/assets/img/share-logo.png&site=http://xgcyjd2014.github.io" target="__blank" title="分享到微博"></a>
                </li>
                <li class="ml">
                    <a class="twitter" href="https://twitter.com/intent/tweet?url=http://xgcyjd2014.github.io{{page.url}}&text=《{{page.title}}》 作者：{{page.author}} 发布日期：{{page.date}} {{decs}} " target="__blank" title="分享到推特"></a>
                </li>
                <li class="ml">
                    <a class="qq" href="http://connect.qq.com/widget/shareqq/index.html?url=http://xgcyjd2014.github.io{{page.url}}&pics=http://xgcyjd2014.github.io/assets/img/share-logo.png&title=《{{page.title}}》 作者：{{page.author}} 发布日期：{{page.date}}&summary={{decs}}" target="__blank" title="分享到推特"></a>
                </li>
            </ul>

            <div class="youyan">
                {% include youyan.html %}
            </div>
        </article>

        <!-- 书签目录 -->
        <section class="catalog">
            <div class="catalog-title">- CATALOG -</div>
            <div class="catalog-box">
                <ul class="catalog-list"></ul>
            </div>
        </section>

    </section>

	<footer>
		{% include footer.html %}
	</footer>
</body>
    {% include script-post.html %}
</html>
